header.main_header{
    padding: 20px 0px ;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    z-index: 2;
    .logo{
        margin: 0 20px;
    }
    .container{
        display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .header_right_menu{
        display: flex;
    align-items: center;
    margin: 0 20px;
    nav{
        margin-right: 82px;
        ul{
                display: flex;
                align-items: center;
                list-style: none;
                gap: 50px;
            li a{
                    font-size: 24px;
                    color: var(--colorwhite);
                    font-weight: 500;
                    font-family: var(--fonttext);
                    text-decoration: none;
                    &:hover{
                        --b: 0.1em;   /* the thickness of the line */
                        --c: #1095c1; /* the color */
                        
                        color: #0000;
                        padding-block: var(--b);
                        background: 
                        linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
                        linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
                        -webkit-background-clip: text,padding-box;
                                background-clip: text,padding-box;
                        transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
                         --_p: 99.99%;
                         --_s: 0.2s;
                    }
            }
        }
    }
    }
}