header.main_header {
  padding: 20px 0px;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  z-index: 2;
}
header.main_header .logo {
  margin: 0 20px;
}
header.main_header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header.main_header .header_right_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}
header.main_header .header_right_menu nav {
  margin-right: 82px;
}
header.main_header .header_right_menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 50px;
}
header.main_header .header_right_menu nav ul li a {
  font-size: 24px;
  color: var(--colorwhite);
  font-weight: 500;
  font-family: var(--fonttext);
  text-decoration: none;
}
header.main_header .header_right_menu nav ul li a:hover {
  --b: 0.1em; /* the thickness of the line */
  --c: #1095c1; /* the color */
  color: rgba(0, 0, 0, 0);
  padding-block: var(--b);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, var(--c)), color-stop(0, #000)) 0% calc(100% - var(--_p, 0%))/100% 200%, -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--c))) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  background: linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%, linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  -webkit-transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
  transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));
  --_p: 99.99%;
  --_s: 0.2s;
}