

                        /* animation */

.full_guide a:hover{
    transform: scale(0.8);    
}

.transport {
    animation-name: transport;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

.transport a:hover{
    transform: rotateZ(-5deg);
    background-color: rgba(26, 134, 26, 0.568);
}

@keyframes transport {
   from{left:-292px}
   to{left:0px}
}

.easy_book{
    animation-name: easy_book;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

.easy_book a:hover{
    transform: scaleY(0.9) rotateZ(3deg) rotateY(8deg);
    background-color: #2094e26c;
}

.camp_fire a:hover{
    transform:rotateY(-30deg) rotateX(-20deg);
    background-color: rgba(0, 0, 0, 0.616);
    color: aliceblue;
}


@keyframes easy_book {
    from{left:-585px}
    to{left:0px}
}

.camp_fire{
    animation-name: camp_fire;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
    position: relative;
}

@keyframes camp_fire {
    from{left:-877.5px}
    to{left:0px}
}

/* responsive */

@media (max-width: 1024px){
    
    section.about_us{
        margin-top: 20px;
    }

    section.about_us .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        padding: 0;
    }
    
    section.about_us div.container .about_us_pictures figure{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        object-fit: cover;
        max-width: 350px;
        max-height: 350px;
    }
    section.about_us div.container section.about_us_pictures figure.landscape{
        padding: 10px;
    }

    section.about_us div.container article.about_us_text{
        text-align: center;
        display: flex;
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

                                    /* about us benefits */

    section.about_us_benefits{
        margin-top: 20px;
    }
    
    section.about_us_benefits div.container div.blocks{
        flex-wrap:wrap;
        text-align: center;
        justify-content: center;
    }
    

    section.about_us_benefits div.container div.blocks .block a{        
        margin: 0px 10px;
        max-width: 200px;
        min-height: 200px;
    }
}

@media(max-width: 360px){
    section.about_us{
        margin-top: 20px;
    }

    section.about_us .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        padding: 0;
    }

    section.about_us div.container section.about_us_pictures figure{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        object-fit: cover;
        max-width: 240px;
        max-height: 240px;
    }
    section.about_us div.container section.about_us_pictures figure.landscape{
        padding: 10px;
    }

    section.about_us_benefits div.container div.blocks div.block a{
        width: 300px;
        height: 50px;        
    }

    section.about_us_benefits div.container div.blocks div.block a h2{
        font-size: 20px;
    }

    section.about_us_benefits div.container div.blocks div.block a p{
        font-size: 10px;
    }
}

