

@media (max-width: 1024px){
    section.product_block .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        padding: 0;
    }


    section.product_block div.container div.country_blocks{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    section.product_block div.container div.country_blocks .country figure{
        height: 300px;
        width: 300px;
        align-items: center;
        justify-content: center;
        object-fit: cover;
    }

    section.product_block div.container div.country_blocks .country figure img{
        height: 300px;
        width: 300px;
        align-items: center;
        justify-content: center;
    }

    div.country::before{        
        height: 300px;
        width: 300px;
        background-color:#1063B88C;
       
    }

    div.country .product_text{
        margin-top: -40px;
        height: 300px;
        width: 300px;
    }


}